@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --rose: #BC8F8F;
    --branco-body: #e2e2e4;
    --cinza: #727272; 
}

a[href^="tel"], 
a[href^="mailto"], 
a[href^="http://maps.google.com/maps"], 
a[href^="https://maps.google.com/maps"] 
{
    text-decoration: none !important; 
    color: inherit !important; 
}


body{
    background-color: var(--branco-body);
    padding-top: 10vh;

}



        /* Header */



a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    height: 3.3vw;
    padding-bottom: 1vh;
    
}

header{
    margin-top: -10vh;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--branco-body);
    height: 9vh;
    position: fixed;
    width: 100vw;
    border-bottom: solid 2px var(--rose);
    padding-top: 1vh;
    position: fixed;
    z-index: 999;
    
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
}

.nav-list a{
    font-size: 18px;
    font-weight: normal;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 22px;
    margin-right: 22px;
    font-weight: normal;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div { 
    width: 27px;
    height: 2px;
    background:  var(--rose);
    margin: 5px;
    transition: 0.3s;
}

 /* header agende */

 #a-agende{
    display: flex;
    background-color: var(--rose);
    background-size: cover;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font-weight: lighter;
}

header a {
    color: var(--rose);
    text-decoration: none;
    transition: 0.3s;
   
    
    
    
}

#h-agende{
    color: white;
    font-weight: normal;
    font-size: 15px;
    margin-left: 5px;
}

#a-header{
    display: none;
}



/* Classes */

main{
    margin-top: 20vh;
}

.sub-titulos{
    font-size: 19px;
}

.titulos{
    font-size: 27px;
    font-weight: 200;
    text-align: center;
    color: var(--rose);
}

.icons-agendar{
    height: 22px;
    margin-right: 10px;
}

@media (width < 999px){
    .titulos{
        font-size: 27px;
    }

    .sub-titulos{
        font-size: 18px;
        text-align: center;
    }
}

@media (width < 750px){
   
}

@media (width < 350px){
    .titulos{
        font-size: 23px;
    }
}

@media (width < 400px){
    .titulos{
        font-size: 20px;
    }
    main{
        margin-top: 5vh;
    }
}



/*  Tratamentos */



.container-tratamentos{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.div-tratamentos{
    width: 16vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.281);
    text-align: center;
    padding-bottom: 10px;
    transition: 0.5s;
    margin: 40px;
    cursor: pointer;
}

.div-tratamentos:hover{
    opacity: 0.7;
}

.div-tratamentos:hover > .a-tratamentos{
    font-weight: normal;
}


.img-tratamentos{
    width: 16vw;
    height: 23vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.texts-tratamentos{
    min-height: 280px;
    max-height: 280px;
    text-align: center;
    padding: 20px;
    
}

.h-tratamentos{
    color: rosybrown;
    margin-bottom: 20px;
    font-size: 16px;

}

.p-tratamentos{
    color: var(--cinza);
    font-size: 15px;
    
}

.a-tratamentos{
    color: rosybrown;
    text-decoration: none;
    font-size: 17px;
}

#tratamentos{
    display: flex;
    justify-content: center;
}


@media (width < 1800px){
    .div-tratamentos{
        width: 20vw;
    }

    .img-tratamentos{
        width: 20vw;
    }

    .p-tratamentos{
        font-size: 14px;
    }

    
    .h-tratamentos{
        font-size: 1.1em;

    }
}
@media (width < 1350px){
    .h-tratamentos{
        font-size: 16px;

}

}


@media (width < 1150px){
    .div-tratamentos{
        width: 25vw;
    }

    .img-tratamentos{
        width: 25vw;
    }

    .logo{
       height: 4vw; 
    }
}

@media (width < 780px){
    main{
        margin-top: 10vh;
    }

    .nav-list.active{
        width: 90vw;
        min-height: 70vh;
    }

    .nav-list a{
        font-size: 16px;
    }
    #h-agende{
        font-size: 13px;
    }

}

@media (width < 900px){



.container-tratamentos{
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.img-tratamentos{
    width: 50vw;
    height: 30vh;
}
.div-tratamentos{
    width: 50vw;
}
}

@media (width < 999px){
    .logo{
        height: 5vw;
    }
}
@media (width < 700px){
.logo{
    height: 9vw;
}
}

@media (width < 500px){

.logo{
    height: 11vw;
}    
.img-tratamentos{
    width: 70vw;
}

.div-tratamentos{
    width: 70vw;
} 

.consulta{
    width: 50vw;
}
}

@media (width < 370px){
.p-tratamentos{
    font-size: 14px;
}  
.texts-tratamentos {
    
    padding: 10px;
}
.h-tratamentos {
    font-size: 12px;
}


}

@media (width < 350px){
.img-tratamentos{
    width: 80vw;
}

.div-tratamentos{
    width: 80vw;
}   
.p-tratamentos{
    padding: 5px;
}
}

@media (width < 280px){
.img-tratamentos{
    width: 90vw;
}

.div-tratamentos{
    width: 90vw;
}   

.p-tratamentos{
    padding: 0px;
}

#a-agende{
    display: none;
}

.logo{
    height: 13vw;
}

}



footer{
    display: flex;
    justify-content: center;
    background-color: var(--rose);
    color: white;
    padding: 50px;
}

#forms2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados2{
    background-color: #72727200;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
    padding-top: 20px;
    width: 350px;
    color: white;
}

.msg2{
    padding-bottom: 40px;
    margin-bottom: 15px;
}

#forms2 ::placeholder{
    color: white;
    font-size: 15px;  
}

#submit2{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    border-bottom: solid 1px white;
    padding: 5px;
}

#submit2:hover{
    opacity: 0.8;
}

.dados2:focus{
    outline: none;
    color: white;
}

.div-cat{
    margin: 50px;
}

#icones-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.img-redes{
    margin-top: 40px;
    margin-bottom: 40px;
}

.icones{
    border-bottom: solid 1px white;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.img-redes{
    height: 22px;
}

.icones img{
    height: 20px;
    margin-right: 10px;
}

.div-cat p{
    font-size: 16px;
}

.tell{
    border-top: solid 1px white;
}

@media (max-width: 900px){
    .dados2{
        width: 260px;
    }
}

@media (max-width: 750px){
    footer{
        flex-direction: column;
        
    }

    .div-cat{
        text-align: left;
    }

    #forms2{
        
    }
    
    .dados2{
        width: 100%;
    }

    #icones-mobile{
        flex-direction: row; 
    }

    .d-icones{
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media (max-width: 500px){
    .div-cat{
        width: 80vw;
        margin: 0px;
        margin-top: 20px;
    }
    .d-icones{
        margin-left: 40px;
        margin-right: 40px;
    }
    footer{
        padding: 10px;
        align-items: center;
    }
}

@media (max-width: 310px){
    .d-icones{
        margin-left: 10vw;
        margin-right: 10vw;
    } 
}




