@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --rose: #BC8F8F;
    --branco-body: #e2e2e4;
    --cinza: #727272; 
}
body{
    background-color: var(--branco-body);
    padding-top: 10vh;

}



        /* Header */



a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    height: 2.5vw;
    padding-bottom: 1vh;
    
}

header{
    margin-top: -10vh;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--branco-body);
    height: 9vh;
    position: fixed;
    width: 100vw;
    border-bottom: solid 2px var(--rose);
    padding-top: 1vh;
    position: fixed;
    z-index: 999;
    
}

.nav-list {
    list-style: none;
    display: flex;
    
    margin-top: 0px;
    border-bottom-left-radius: 10px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 27px;
    height: 2px;
    background:  var(--rose);
    margin: 5px;
    transition: 0.3s;
}

 /* header agende */

 #a-agende{
    display: flex;
    background-color: var(--rose);
    background-size: cover;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font-weight: lighter;
}

header a {
    color: var(--rose);
    text-decoration: none;
    transition: 0.3s;
   
    
    
    
}

#h-agende{
    color: white;
    font-weight: normal;
    font-size: 16px;
    margin-left: 5px;
}

#a-header{
    display: none;
}



/* Classes */

main{
    margin-top: 20vh;
}

.sub-titulos{
    font-size: 19px;
}

.titulos{
    font-size: 35px;
    font-weight: 200;
    text-align: center;
    color: var(--rose);
}

.icons-agendar{
    height: 22px;
    margin-right: 10px;
}

@media (width < 999px){
    .titulos{
        font-size: 33px;
    }

    .sub-titulos{
        font-size: 18px;
        text-align: center;
    }
}

@media (width < 750px){
    .titulos{
        font-size: 30px;
    }
}

@media (width < 350px){
    .titulos{
        font-size: 23px;
    }
}



/*  Tratamentos */



.container-tratamentos{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.div-tratamentos{
    width: 16vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.281);
    text-align: center;
    padding-bottom: 10px;
    transition: 0.5s;
    margin: 40px;
    cursor: pointer;
}

.div-tratamentos:hover{
    opacity: 0.7;
}

.div-tratamentos:hover > .a-tratamentos{
    font-weight: bold;
}


.img-tratamentos{
    width: 16vw;
    height: 23vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.texts-tratamentos{
    min-height: 280px;
    max-height: 280px;
    text-align: center;
    padding: 20px;
    
}

.h-tratamentos{
    color: rosybrown;
    margin-bottom: 20px;
    font-size: 1.2em;

}

.p-tratamentos{
    color: var(--cinza);
    font-size: 1em;
    
}

.a-tratamentos{
    color: rosybrown;
    text-decoration: none;
    font-size: 1.3em;
}

#tratamentos{
    display: flex;
    justify-content: center;
}


@media (width < 1800px){
    .div-tratamentos{
        width: 18vw;
    }

    .img-tratamentos{
        width: 18vw;
    }

    .p-tratamentos{
        font-size: 1em;
    }

    
    .h-tratamentos{
        font-size: 1.1em;

    }
}
@media (width < 1350px){
    .h-tratamentos{
        font-size: 1em;

}

}


@media (width < 1150px){
    .div-tratamentos{
        width: 25vw;
    }

    .img-tratamentos{
        width: 25vw;
    }

    .logo{
       height: 3.8vw; 
    }
}



@media (width < 900px){

.logo{
    height: 4vh;
}

.container-tratamentos{
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.img-tratamentos{
    width: 50vw;
    height: 30vh;
}
.div-tratamentos{
    width: 50vw;
}
}

@media (width < 500px){
.img-tratamentos{
    width: 70vw;
}

.div-tratamentos{
    width: 70vw;
} 

.consulta{
    width: 50vw;
}
}

@media (width < 370px){
.p-tratamentos{
    font-size: 0.9em;
}  
}

@media (width < 350px){
.img-tratamentos{
    width: 80vw;
}

.div-tratamentos{
    width: 80vw;
}   
.p-tratamentos{
    padding: 5px;
}
}

@media (width < 280px){
.img-tratamentos{
    width: 90vw;
}

.div-tratamentos{
    width: 90vw;
}   

.p-tratamentos{
    padding: 5px;
}
}