@charset "utf-8";




* {
    margin: 0;
    padding: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:root{
    --rose: #BC8F8F;
    --branco-body: #e2e2e4;
    --cinza: #727272; 
}
body{
    background-color: var(--branco-body);
    padding-top: 10vh;
    overflow-x: hidden;  
    width: 100vw;

}
main{
    padding-top: 10vh;
}
        /* Header */

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    height: 6.3vh;
    
}

#container-nav{
    display: flex;
    justify-content: center;
    background-color: #e2e2e4;
    width: 99vw;
}

header{
    margin-top: -10vh;
    
    background-color: #e2e2e4;
    width: 99vw;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--branco-body);
    height: 9vh;
    position: fixed;
    width: 75vw;
    padding-top: 1vh;
    position: fixed;
    z-index: 999;
    padding-left: 12vw;
    padding-right: 12vw;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
}

.nav-list a{
    font-size: 18px;
    font-weight: normal;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 22px;
    margin-right: 22px;
    font-weight: normal;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div { 
    width: 27px;
    height: 2px;
    background:  var(--rose);
    margin: 5px;
    transition: 0.3s;
}

    /* header agende */

    #a-agende{
    display: flex;
    background-color: var(--rose);
    background-size: cover;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font-weight: lighter;
}

header a {
    color: var(--rose);
    text-decoration: none;
    transition: 0.3s;
    
    
    
    
}

#h-agende{
    color: white;
    font-weight: normal;
    font-size: 15px;
    margin-left: 5px;
}

#a-header{
    display: none;
}

@media (width <  999px) {


    #h-agende{
      font-size: 14px;
      color: white;
    }
    
    #a-header{
      display: block;
      font-size: 4vw;
      color: rosybrown;
    }

    body {
      overflow-x: hidden;
      
    }
    .nav-list {
      position: absolute;
      top: 6vh;
      right: 0;
      width: 50vw;
      height: 70vh;
      background: #e2e2e4;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      margin-top: 2vh;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-0px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-2px, -10px);
  }

}

@media (width < 750px){
.nav-list {
    width: 80vw;
}


}




        /* class */
.sub-titulos{
    font-size: 19px;
}

.titulos{
    font-size: 35px;
    font-weight: 200;
}

.icons-agendar{
    height: 22px;
    margin-right: 10px;
}

@media (width < 999px){
    .titulos{
        font-size: 28px;
    }

    .sub-titulos{
        font-size: 18px;
        text-align: center;
    }
}

@media (width < 750px){
    .titulos{
        font-size: 27px;
    }
}

@media (width < 350px){
    .titulos{
        font-size: 23px;
    }
}





        /* Animações */

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime = "bottom"] {
    transform: translate3d(0px, 150px, 0px);
    transition: .5s;
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

[data-anime = "left"] {
    transform: translate3d(-200px, 0px, 0px);
}

[data-anime = "right"] {
    transform: translate3d(200px, 0px, 0px);
}

        /* Call */

#container-call{
    display: flex;
    justify-content: center;
}


#call{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 74vw;
}

#div-agendar-call{
    display: flex;
    background-color: var(--rose);
    color: white;
    align-items: center;
    justify-content: center;
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;

}

#img-call{
    height: 52vh;
    width: 52vh;
    margin-top: 35px;
}

#p-agendar-call{
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 15px;
}

#h1-call{
    color: var(--rose);
    font-size: 40px;
}

#h2-call{
    color: var(--cinza);
    font-size: 18px;
    font-weight: normal;
    margin-bottom: -10px;
    line-height: 25px;
   text-align: left;
    
}

#h2-call strong{
    color: var(--rose);
    font-weight: 600;
    
}

.one{
    display: flex;
    justify-content: right;
}

#h3-call{
    color: var(--cinza);
    font-size: 18px;
}


@media (width < 1200px){
    .div-call{
        width: 40vw;
    }

    #img-call{
        height: 48vh;
        width: 48vh;
    }

    #h1-call{
        font-size: 32px;
    }
}
@media (width < 900px){
    .div-call{
        width: 45vw;
    }
}
@media (width < 800px){
    .div-call{
        width: 49vw;
    }
}



@media (width < 750px){

    #c-a{
        display: flex;
        justify-content: center;
    }

    #call{
        flex-direction: column;
    }

    .div-call{
        width: 95vw;
        margin-left: 5px;
    }

    #img-call{
        height: 51vh;
        width: 51vh;
    }

   

    #logo{
        height: 55px;
    }

    .one{
        display: flex;
        justify-content: center;
    }

}

/* Update paramters of containers of home */

@media (width < 1300px){
    header nav {
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    #call {
        width: 89vw;
    }
}

/* End Update paramters of containers of home  */

@media (width < 400px){
    .div-call{
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        width: 99vw;
    }

    #a-agende{
        display: none;
    }

    #div-agendar-call{
        width: 250px;
    }

    #h2-call{
        font-size: 16px;
        width: 99vw;
    }

    #h1-call{
        font-size: 25px;
    }

    #img-call{
        height: 90vw;
        width: 90vw;
    }


    
    
}

@media (width < 320px){

    #logo{
        height: 47px;
    }
    #p-agendar-call{
        font-size: 14px;
    }
    #h2-call{
        font-size: 14px;
    }
    #div-agendar-call{
        width: 70vw;
    }

    .icons-agendar{
        height: 18px;
    }
}

@media (width < 285px){
    #p-agendar-call{
        font-size: 12px;
    }
    #logo{
        height: 5vh;
    }

}








        /* Benefícios */

#benefits{
    background-color: var(--rose);
    padding-bottom: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#wave-top{
    margin-bottom: -10px;
    width: 100%;
}

#wave-bottom{
    width: 100%;
    margin-top: -5px;
}

.img-benefits{
    height: 60px;
    width: 60px;
    margin-bottom: 35px;
}

.div-benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 24vw;
}


#container-dBenefits{
    display: flex;  
    margin-top: 65px;
}

#container-dBenefits-one{
    text-align: center;
}

.text-benefits{
    font-size: 17px;
}

@media (width < 999px){
    .div-benefits{
        width: 30vw;
        margin: 10px;
        padding-top: 40px;
    }

    .text-benefits{
        font-size: 15px;
    }
}

@media (width < 750px){
    #container-dBenefits{
        flex-direction: column;
    }

    .div-benefits{
        width: 60vw;
        margin-top: 10px;
    }
    #container-dBenefits{
        margin-top: 20px;
    }

    #wave-top{
        margin-top: 100px;
    }
    #p-benefits{
        width: 70vw;
    }
}

@media (width < 500px){
    .div-benefits{
        width: 80vw;
    }
    #p-benefits{
        width: 90vw;
    }
}
@media (width < 400px){
    #benefits{
        margin-bottom: -11px;
    }
}

@media (width < 350px){
    #p-benefits{
        font-size: 15px;
    }
    #benefits{
        padding-top: 30px;
    }
}



        /* Tratamentos */

#tratamentos{
    display: flex;
    flex-direction: column;
    color: var(--rose);
    margin-top: 80px;
}

#tratamentos-dOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tratamentos-dTwo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-tratamentos{
    height: 160px;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.281);
   
    
}

.img-tratamentos:hover{
    opacity: 0.9;
}


.div-tratamentos{
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.p-tratamentos{
    color: var(--rose);
}

@media (width < 1350px){
    .div-tratamentos{
        margin: 60px;
        margin-top: 85px;
    }
}

@media (width < 999px){
    .div-tratamentos{
        margin: 45px;
        margin-top: 100px;
    }

    .img-tratamentos{
        height: 140px;
    }
}


@media (width < 850px){
    .div-tratamentos{
        margin: 25px;
        margin-top: 100px;
    }

    .img-tratamentos{
        height: 135px;
    }
}

@media (width < 750px){
    #tratamentos-dTwo{
        flex-direction: column;
        margin-top: 50px;
    }

    .div-tratamentos{
        margin: 25px;
        margin-top: 50px;
    }
}
@media (width < 380px){
    .img-tratamentos{
        height: 125px;
    }
}

@media (width < 280px){
    .div-tratamentos{
        margin: 0px;
        margin-bottom: 40px;
    }
}





        /* Quest */

#quest{
    display: flex;
    background-color: var(--rose);
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.div-quest{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 100px;
    margin-left: 100px;
}

#div-quest-agende{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

#p-quest-agende{
    color: var(--rose);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
    font-weight: bold;
}

@media (width < 1400px){
    .div-quest{
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media (width < 1100px){
    #p-quest{
        width: 45vw;
        text-align: left;
    }
}

@media (width < 750px){
    #quest{
        flex-direction: column;
        padding-bottom: 30px;
    }

    .div-quest{
        margin-bottom: 0px;
        margin-top: 20px;
        
    }

    #p-quest{
        width: 75vw;
    }

    #div-quest-agende{
        width: 70vw;
    }

    .icons-agendar{
        margin-right: 20px;
    }
}

@media (width < 350px){
    #p-quest-agende{
        font-size: 13px;
    }

    .icons-agendar{
        margin-right: 10px;
    }
    
}

@media (width < 300px){
    .titulos{
        font-size: 20px;
    }
    .sub-titulos{
        font-size: 15px;
    }
    #p-quest-agende{
        font-size: 14px;
    }

    #p-quest{
        width: 95vw;
    }

    #div-quest-agende{
        width: 82vw;
    }

}
@media (width < 300px){
    #div-quest-agende{
        padding-left: 0px;
        padding-right: 0px;
        width: 98vw;
    }
}




        /*  Bio  */

#bio{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

#img-bio{
    height: 235px;
    border-radius: 25%; 
}

#h1-bio{
    color: var(--rose);
}

.div-bio{
    margin: 50px;
    color: var(--cinza);
}

#prof-bio{
    color: var(--rose);
    text-align: left;
}

#bio-exp{
    margin-left: 40px;
}
@media (width < 750px){
    #bio{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div-bio {
        margin: 17px;
    }
}

@media (width < 380px){
    .div-bio{
        margin: 20px;
    }

    #img-bio{
        height: 200px;
    }
}
@media (width < 230px){
    .div-bio{
        margin: 3px;
    }

    #img-bio{
        height: 180px;
    }
}


    /*  Consulta  */

#consulta{
    background-color: var(--rose);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    margin-bottom: 80px;
    margin-top: 80px;
}

#container-consulta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}

.div-consulta{
    margin: 40px;
}

#mapa{
    width: 450px;
    height: 230px;
}

#forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dados{
    background-color: #72727200;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
    padding-top: 20px;
    width: 350px;
    color: white;
}

.msg{
    padding-bottom: 40px;
    margin-bottom: 15px;
}

#forms ::placeholder{
    color: white;
    font-size: 15px;  
}

#submit{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    border-bottom: solid 1px white;
    padding: 5px;
}

#submit:hover{
    opacity: 0.8;
}

.dados:focus{
    outline: none;
    color: white;
}
@media (width < 999px){
   .div-consulta {
    margin: 20px;
    } 
    .dados{
        width: 260px;
    }
    #mapa{
        width: 370px;
    }
.swiper{
   
    overflow: none;
}
}
@media (width < 750px){
    #container-consulta{
        flex-direction: column;
    }

    .dados{
        width: 360px;
    }

    .div-consulta {
        margin: 5px;
    } 
}

@media (width < 390px){
    .dados{
        width: 70vw;
    }
    #mapa{
        width: 80vw;
        height: 60vw;
    }  
}





    /*   avaliação   */

    #aval p{
        margin-bottom: 70px;
    }

.swiper{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px){
    .swiper{
        height: 462px;
    }
    .img-slide{
        height: 350px;
    }
}

@media (max-width: 270px){  
    .img-slide{
        height: 270px;
    }
}

@media (max-width: 220px){  
    .img-slide{
        height: 30vh;
        width: 80vw;
    }
}





.text-aval{
    text-align: center;
    color: var(--rose);
}

#aval{
    margin-top: 50px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--rose);
    color: white;
    padding: 50px;
}

#forms2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados2{
    background-color: #72727200;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
    padding-top: 20px;
    width: 350px;
    color: white;
}

.msg2{
    padding-bottom: 40px;
    margin-bottom: 15px;
}

#forms2 ::placeholder{
    color: white;
    font-size: 15px;  
}

#submit2{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    border-bottom: solid 1px white;
    padding: 5px;
}

#submit2:hover{
    opacity: 0.8;
}

.dados2:focus{
    outline: none;
    color: white;
}

.div-cat{
    margin: 50px;
}

#icones-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.img-redes{
    margin-top: 40px;
    margin-bottom: 40px;
}

.icones{
    border-bottom: solid 1px white;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.img-redes{
    height: 22px;
}

.icones img{
    height: 20px;
    margin-right: 10px;
}

.div-cat p{
    font-size: 16px;
}

.tell{
    border-top: solid 1px white;
}

@media (max-width: 900px){
    .dados2{
        width: 260px;
    }
}

@media (max-width: 750px){
    footer{
        flex-direction: column;
        
    }

    .div-cat{
        text-align: left;
    }

    #forms2{
        
    }
    
    .dados2{
        width: 100%;
    }

    #icones-mobile{
        flex-direction: row; 
    }

    .d-icones{
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media (width > 300px){
   .mail-br{
    display: none;
   } 
}
@media (max-width: 500px){
    .div-cat{
        width: 80vw;
        margin: 0px;
        margin-top: 20px;
    }
    .d-icones{
        margin-left: 40px;
        margin-right: 40px;
    }
    footer{
        padding: 10px;
        align-items: center;
    }
}

@media (max-width: 310px){
    .d-icones{
        margin-left: 10vw;
        margin-right: 10vw;
    
    } 
}

a[href^="tel"], 
a[href^="mailto"], 
a[href^="http://maps.google.com/maps"], 
a[href^="https://maps.google.com/maps"] 
{
    text-decoration: none !important; 
    color: inherit !important; 
}
