@charset "utf-8";

/* Typical Device Breakpoints
pequenas telas: até 600px
celular: de 600px até 768px
tablets: 768px até 992px
desktops: 992px até 1200px
grandes telas: acimda de 1200px
*/ 


  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
      
    }
    .nav-list {
      position: absolute;
      top: 6vh;
      right: 0;
      width: 50vw;
      height: 80vh;
      background: #e2e2e4;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      margin-top: 2.3vh;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-0px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-2px, -10px);
  }

  #div-form{
    display: none;
  }
}



@media screen and (max-width: 768px){

         /* Animações */

[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime = "bottom"] {
  transform: translate3d(0px, 40px, 0px);
  transition: .5s;
}

[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

[data-anime = "left"] {
  transform: translate3d(-40px, 0px, 0px);
}

[data-anime = "right"] {
  transform: translate3d(40px, 0px, 0px);
}


nav{
  height: 10vh;
  padding: 0;

}

header a{
  font-size: 3.5vw;
}

header nav {
  height: 7vh;
}

header{
  position: fixed;
  margin-top: -10vh;
  z-index: 999;
  
}

.logo{
  height: 5vh;

}

#container-one{
  flex-direction: column ;
  align-items: center;
}
}

@media screen and (max-width: 350px){


#container-one{
  margin-top: 8vh;
}

.img-one{
  width: 80vw;
  height: 45vh;
}

.h1-one{
  margin-top: 3vh;
}

.h2-one{
  width: 67vw;
  font-size: 6vw;
  font-weight: 540;
  
}

.p-one{
  height: 32vh;
  width: 90vw;
  font-size: 5.3vw;
}

.p-especiais{
  height: 65vh;
  width: 95vw;
  font-size: 5.3vw;
}

#contato{
  width: 70vw;
  height: 5vh;
}

.img-contato{
  height: 5vw;
}

footer{
  margin-top: 10vh;
}

header a{
  font-size: 4vw;
}

}

@media screen and (max-width: 535px){


  #container-one{
    margin-top: 8vh;
  }
  
  .img-one{
    width: 80vw;
    height: 45vh;
  }
  
  .h1-one{
    margin-top: 3vh;
    font-size: 3vh;
  }
  
  .h2-one{
    width: 67vw;
    font-size: 6vw;
    font-weight: 540;
    
  }
  
  .p-one{
    height: 32vh;
    width: 80vw;
    font-size: 4.5vw;
  }
  
  .p-especiais{
    height: 85vh;
    width: 75vw;
    font-size: 4.5vw;
  }
  
  #contato{
    width: 70vw;
    height: 5vh;
  }
  
  .img-contato{
    height: 5vw;
  }
  
  footer{
    margin-top: 10vh;
  }
  
  header a{
    font-size: 4vw;
  }
  
  }




  
